@font-face {
    font-family: 'inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}
body{
    background-color: hsl(0, 0%, 8%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    font-family: inter ;
    width:20%;
    margin:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .6rem;
}
main img{
    border-radius: 50%;
    width: 20%;
    margin-left:40%;
    margin-top: 5%;
}
h1{
    text-align: center;
    font-size: .9rem;
    margin-top: .9rem;
    margin-bottom: .2rem;
}
h2{
    text-align: center;
    font-size: .5rem;
    color:  hsl(75, 94%, 57%);
}
p{
    text-align: center;
    font-size: .5rem;
    margin-top: 1.1rem;
}
a{
    background-color:  hsl(0, 0%, 20%);
    color: white;
    text-decoration: none;
    display: block;
    margin: 1rem;
    border-radius: .4rem;
    text-align: center;
    padding-top: .6rem;
    padding-bottom: .1rem;
    font-size: .7rem;
    height: 1.2rem;
}
a:hover{
    background-color:  hsl(75, 94%, 57%);
    color: black;
    font-weight: bold;
}
@media screen and (max-width:800px) {
    main{
        width: 90%;
    }
    
}